In [ ]:
import tensorflow as tf
from tensorflow import keras as tfk

In [ ]:
X = [-5, -4 , -3, -2, -1, 0, 1, 2, 3, 4, 5]
y = [-14, -11, -8, -5, -2, 1, 4, 7, 10, 13, 16]

In [ ]:
#y = mx + b = 3x + 1

In [ ]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [ ]:
model = Sequential()
model.add(Dense(1, input_shape = [1], activation= 'relu'))


# admissions_model = Sequential([
#                     Dense(32, input_shape=[7], activation = 'relu'),
#                     Dense(32, activation = 'relu'),
#                     Dense(1, activation ='sigmoid')
#                     ])

In [ ]:
model.compile(optimizer = 'adam', loss='mse')

In [ ]:
model.fit(X, y, epochs = 10)

Epoch 1/10
1/1 [==============================] - 0s 2ms/step - loss: 83.6375
Epoch 2/10
1/1 [==============================] - 0s 2ms/step - loss: 83.5985
Epoch 3/10
1/1 [==============================] - 0s 1ms/step - loss: 83.5595
Epoch 4/10
1/1 [==============================] - 0s 1ms/step - loss: 83.5205
Epoch 5/10
1/1 [==============================] - 0s 1ms/step - loss: 83.4815
Epoch 6/10
1/1 [==============================] - 0s 1ms/step - loss: 83.4426
Epoch 7/10
1/1 [==============================] - 0s 2ms/step - loss: 83.4036
Epoch 8/10
1/1 [==============================] - 0s 936us/step - loss: 83.3647
Epoch 9/10
1/1 [==============================] - 0s 1ms/step - loss: 83.3258
Epoch 10/10
1/1 [==============================] - 0s 1ms/step - loss: 83.2869

In [ ]:
model.predict([1])

array([[0.25328213]], dtype=float32)

### ***Running on Actual Datasets***

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
admissions = pd.read_csv('admissions.csv')
admissions.head()

   Serial No.  GRE Score  TOEFL Score  ...  CGPA  Research  Chance of Admit
0           1        337          118  ...  9.65         1              0.92
1           2        324          107  ...  8.87         1              0.76
2           3        316          104  ...  8.00         1              0.72
3           4        322          110  ...  8.67         1              0.80
4           5        314          103  ...  8.21         0              0.65

[5 rows x 9 columns]

In [ ]:
admissions.loc[admissions['Chance of Admit ']>=0.72,'Admitted']=1
admissions.loc[admissions['Chance of Admit ']<0.72,'Admitted']=0
admissions['Admitted']=admissions['Admitted'].astype(np.int64)

X = admissions.iloc[:,1:-2]
y_continuous = admissions[['Chance of Admit ']]
y_categorical = admissions[['Admitted']]

In [ ]:
admissions.head()

   Serial No.  GRE Score  TOEFL Score  ...  Research  Chance of Admit   Admitted
0           1        337          118  ...         1              0.92         1
1           2        324          107  ...         1              0.76         1
2           3        316          104  ...         1              0.72         1
3           4        322          110  ...         1              0.80         1
4           5        314          103  ...         0              0.65         0

[5 rows x 10 columns]

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

Xs = scaler.fit_transform(X)

***Predicting the Chance of Admit (continuous)***

In [ ]:
admissions_model = Sequential([
                    Dense(32, input_shape=[7], activation = 'relu'),
                    Dense(32, activation = 'relu'),
                    Dense(1, activation ='sigmoid')
                    ])

In [ ]:
admissions_model.compile(optimizer = 'sgd', loss='mse')

In [ ]:
admissions_model.fit(Xs, y_continuous, epochs=50, verbose=1, validation_split=0.2)

Epoch 1/50
13/13 [==============================] - 0s 8ms/step - loss: 0.0395 - val_loss: 0.0317
Epoch 2/50
13/13 [==============================] - 0s 4ms/step - loss: 0.0356 - val_loss: 0.0284
Epoch 3/50
13/13 [==============================] - 0s 4ms/step - loss: 0.0323 - val_loss: 0.0257
Epoch 4/50
13/13 [==============================] - 0s 4ms/step - loss: 0.0296 - val_loss: 0.0233
Epoch 5/50
13/13 [==============================] - 0s 4ms/step - loss: 0.0272 - val_loss: 0.0214
Epoch 6/50
13/13 [==============================] - 0s 4ms/step - loss: 0.0253 - val_loss: 0.0198
Epoch 7/50
13/13 [==============================] - 0s 4ms/step - loss: 0.0236 - val_loss: 0.0184
Epoch 8/50
13/13 [==============================] - 0s 4ms/step - loss: 0.0222 - val_loss: 0.0172
Epoch 9/50
13/13 [==============================] - 0s 4ms/step - loss: 0.0210 - val_loss: 0.0161
Epoch 10/50
13/13 [==============================] - 0s 5ms/step - loss: 0.0199 - val_loss: 0.0152
Epoch 11/50
13/13 [==============================] - 0s 4ms/step - loss: 0.0190 - val_loss: 0.0144
Epoch 12/50
13/13 [==============================] - 0s 4ms/step - loss: 0.0182 - val_loss: 0.0137
Epoch 13/50
13/13 [==============================] - 0s 4ms/step - loss: 0.0175 - val_loss: 0.0131
Epoch 14/50
13/13 [==============================] - 0s 4ms/step - loss: 0.0168 - val_loss: 0.0125
Epoch 15/50
13/13 [==============================] - 0s 4ms/step - loss: 0.0162 - val_loss: 0.0120
Epoch 16/50
13/13 [==============================] - 0s 4ms/step - loss: 0.0157 - val_loss: 0.0116
Epoch 17/50
13/13 [==============================] - 0s 4ms/step - loss: 0.0153 - val_loss: 0.0112
Epoch 18/50
13/13 [==============================] - 0s 4ms/step - loss: 0.0148 - val_loss: 0.0108
Epoch 19/50
13/13 [==============================] - 0s 4ms/step - loss: 0.0144 - val_loss: 0.0105
Epoch 20/50
13/13 [==============================] - 0s 4ms/step - loss: 0.0141 - val_loss: 0.0101
Epoch 21/50
13/13 [==============================] - 0s 4ms/step - loss: 0.0137 - val_loss: 0.0098
Epoch 22/50
13/13 [==============================] - 0s 4ms/step - loss: 0.0134 - val_loss: 0.0096
Epoch 23/50
13/13 [==============================] - 0s 4ms/step - loss: 0.0131 - val_loss: 0.0093
Epoch 24/50
13/13 [==============================] - 0s 4ms/step - loss: 0.0128 - val_loss: 0.0091
Epoch 25/50
13/13 [==============================] - 0s 4ms/step - loss: 0.0126 - val_loss: 0.0089
Epoch 26/50
13/13 [==============================] - 0s 4ms/step - loss: 0.0124 - val_loss: 0.0087
Epoch 27/50
13/13 [==============================] - 0s 4ms/step - loss: 0.0121 - val_loss: 0.0085
Epoch 28/50
13/13 [==============================] - 0s 4ms/step - loss: 0.0119 - val_loss: 0.0083
Epoch 29/50
13/13 [==============================] - 0s 4ms/step - loss: 0.0117 - val_loss: 0.0081
Epoch 30/50
13/13 [==============================] - 0s 4ms/step - loss: 0.0115 - val_loss: 0.0080
Epoch 31/50
13/13 [==============================] - 0s 4ms/step - loss: 0.0114 - val_loss: 0.0078
Epoch 32/50
13/13 [==============================] - 0s 4ms/step - loss: 0.0112 - val_loss: 0.0077
Epoch 33/50
13/13 [==============================] - 0s 4ms/step - loss: 0.0110 - val_loss: 0.0075
Epoch 34/50
13/13 [==============================] - 0s 4ms/step - loss: 0.0109 - val_loss: 0.0074
Epoch 35/50
13/13 [==============================] - 0s 4ms/step - loss: 0.0107 - val_loss: 0.0073
Epoch 36/50
13/13 [==============================] - 0s 4ms/step - loss: 0.0106 - val_loss: 0.0072
Epoch 37/50
13/13 [==============================] - 0s 4ms/step - loss: 0.0105 - val_loss: 0.0070
Epoch 38/50
13/13 [==============================] - 0s 5ms/step - loss: 0.0103 - val_loss: 0.0069
Epoch 39/50
13/13 [==============================] - 0s 4ms/step - loss: 0.0102 - val_loss: 0.0068
Epoch 40/50
13/13 [==============================] - 0s 4ms/step - loss: 0.0101 - val_loss: 0.0067
Epoch 41/50
13/13 [==============================] - 0s 4ms/step - loss: 0.0100 - val_loss: 0.0067
Epoch 42/50
13/13 [==============================] - 0s 4ms/step - loss: 0.0099 - val_loss: 0.0066
Epoch 43/50
13/13 [==============================] - 0s 4ms/step - loss: 0.0098 - val_loss: 0.0065
Epoch 44/50
13/13 [==============================] - 0s 4ms/step - loss: 0.0097 - val_loss: 0.0064
Epoch 45/50
13/13 [==============================] - 0s 4ms/step - loss: 0.0096 - val_loss: 0.0063
Epoch 46/50
13/13 [==============================] - 0s 4ms/step - loss: 0.0095 - val_loss: 0.0062
Epoch 47/50
13/13 [==============================] - 0s 4ms/step - loss: 0.0094 - val_loss: 0.0062
Epoch 48/50
13/13 [==============================] - 0s 4ms/step - loss: 0.0093 - val_loss: 0.0061
Epoch 49/50
13/13 [==============================] - 0s 4ms/step - loss: 0.0093 - val_loss: 0.0060
Epoch 50/50
13/13 [==============================] - 0s 4ms/step - loss: 0.0092 - val_loss: 0.0060

In [ ]:
admissions_model.summary()

Model: "sequential_3"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_5 (Dense)              (None, 32)                256
_________________________________________________________________
dense_6 (Dense)              (None, 32)                1056
_________________________________________________________________
dense_7 (Dense)              (None, 1)                 33
=================================================================
Total params: 1,345
Trainable params: 1,345
Non-trainable params: 0
_________________________________________________________________